<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Mocha & Chai</title>

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap"
      rel="stylesheet"
    />

    <!-- Font Awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
      integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <link rel="icon" href="/images/coffee-beans.png" />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />

    <!-- MDB -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.10.1/mdb.min.js"
    />

    <!-- <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" /> -->
    <!-- <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" /> -->
    <link rel="stylesheet" href="/styles/main.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>

    <!-- Meta Tags -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0"
    />
  </head>

  <body>
    <nav>
      <div class="content-left">
        <img src="/images/coffee-beans.png" class="logo" />
        <div class="title">
          <span>Mocha </span>
          <span>& Chai</span>
        </div>
      </div>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-6 w-6"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M4 6h16M4 12h16M4 18h16"
        />
      </svg>
    </nav>

    <div class="fullscreen">
      <div id="overlay">
        <div class="overlay-title">
          <img src="/images/coffee-beans.png" class="logo" />
          <div class="title">
            <span>Mocha & Chai</span>
          </div>
          <button
            type="button"
            class="btn btn-light"
            data-mdb-ripple-color="dark"
          >
            Order Now
          </button>
        </div>
      </div>

      <!-- <img src="/images/nathan-dumlao-KixfBEdyp64-unsplash.jpg" /> -->
      <video loop muted autoplay poster="" class="fullscreen-video">
        <source src="/videos/video2.mp4" type="video/mp4" />
      </video>
    </div>
    <div class="main-content">
      <div class="about-us">
        <h4>Our Story</h4>
        <p>
          Mocha & Chai brings a fresh take on the Parisian café experience to
          Toronto’s King West. Located on the ground floor of Bisha Hotel,
          French Made is the ideal spot for your morning coffee, mid-afternoon
          treat and everything in between. Open seven days a week, French Made
          offers a variety of delicious pastries baked in house daily, as well
          as a selection of fresh baked goods and hand-pressed gourmet
          sandwiches; perfect for breakfast or lunch on the go. Our
          ingredient-focused fare pairs perfectly with custom roasted and
          sourced De Melo Palheta Espresso.
        </p>
        <img src="/images/steam.jpg" />
      </div>
      <div class="contact-us">
        <h4>Contact</h4>
        <p>
          info@frenchmadetoronto.com<br />
          437.800.5936 <br />
        </p>
        <h4>Hours</h4>

        <p>7 AM – 7 PM daily</p>
        <h4>Location</h4>
        <p>
          Bisha Hotel <br />
          Ground Floor <br />
          80 Blue Jays Way <br />
          Toronto, On M5V 2G3
        </p>
      </div>
    </div>
  </body>
</html>
