<!--  Home Page of Mocha & Chai -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="icon" href="/images/coffee-beans-white.png" />
    <title>Mocha & Chai</title>

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap"
      rel="stylesheet"
    />

    <!-- Font Awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
      integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />



    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />

    <!-- MDB -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.10.1/mdb.min.js"
    />

    <!-- <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" /> -->
    <!-- <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" /> -->
    <link rel="stylesheet" href="/styles/main.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>


    <!-- Meta Tags -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=no"
    />
  </head>

  <body>
    <nav>
      <div class="content-left">
        <img src="/images/coffee-beans.png" class="logo" />
        <a href="/">
        <div class="title">
          <span>Mocha </span>
          <span>& Chai</span>
        </div>
      </a>
        <ul class="nav-links">
          <li><a href="#about-us-container">About</a></li>
          <li><a href="#contact-us-container">Contact us</a></li>
          <li><a href="/orderPage">Menu</a></li>
        </ul>
      </div>
      <a href="/orderPage">
      <button type="button" class="btn btn-dark" data-mdb-ripple-color="dark">
        Order Now
      </button>
    </a>
    </nav>

    <div class="fullscreen">
      <div id="overlay">
        <div class="overlay-title">
          <img src="/images/coffee-beans.png" class="logo" />
          <div class="title">
            <span>Mocha & Chai</span>
          </div>
        </div>
      </div>

      <video loop muted autoplay poster="" class="fullscreen-video">
        <source src="/videos/video2.mp4" type="video/mp4" />
      </video>
    </div>
    <div class="main-content">
      <div id="about-us-container">
        <div class="about-us-text">
          <h4>Our Story</h4>
          <h6>
            Mocha & Chai brings a fresh take on the Parisian café experience to
            Toronto’s King West.
          </h6>
          <p>
            Located on the ground floor of Bisha Hotel, Mocha & Chai is the
            ideal spot for your morning coffee, mid-afternoon treat and
            everything in between. Open seven days a week, Mocha & Chai offers a
            selection of fresh baked goods and hand-pressed gourmet sandwiches;
            perfect for breakfast or lunch on the go. Our ingredient-focused
            fare pairs perfectly with custom roasted and sourced De Melo Palheta
            Espresso.
          </p>
        </div>
        <img src="/images/steam.jpg" />
      </div>
      <div class="bottom">
        <div id="contact-us-container">
          <div class="contact-us-text">
            <h4>Contact Us</h4>
              <p>
                info@mochaandchai.com<br />
                416.123.4567 <br />
              </p>
            <div>
              <h5>Hours</h5>

              <p>7 AM – 7 PM daily</p>
            </div>
            <div>
              <h5>Location</h5>
              <p>
                Bisha Hotel <br />
                Ground Floor <br />
                80 Blue Jays Way <br />
                Toronto, On M5V 2G3
              </p>
            </div>
          </div>
          <img
            width="600"
            src="https://maps.googleapis.com/maps/api/staticmap?center= 43.645297,-79.392397&zoom=16&size=400x400&scale=2&maptype=roadmap
&markers=color:red%7Clabel:%7C40.702147,Bisha+Hotel+80+Blue+Jays+Way+Toronto+On+M5V+2G3&key=<%=MAPS_API%>"
            class="map"
          />
        </div>
        <img class="footer-img" src="/images/latte-three.jpeg" />
      </div>
      <footer><span>© 2021 by Mocha + Chai. All rights reserved.</sp></footer>
    </div>
  </body>
</html>
