<!-- Login page for restaurant owner -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Mocha and Chai Login</title>

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap"
      rel="stylesheet"
    />

    <!-- Bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />

    <!-- <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" /> -->
    <!-- <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" /> -->
    <link rel="stylesheet" href="/styles/main.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <!--css for login page-->
    <link rel="stylesheet" href="/styles/restaurant.css" type="text/css" />

    <!--css for login page-->
    <link rel="stylesheet" href="/styles/login.css" type="text/css" />
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/routes/resturantPage.js"></script>
  </head>

  <body>
    <nav>
      <div class="content-left">
        <img src="/images/coffee-beans.png" class="logo" />
        <a href="/">
          <div class="title">
            <span>Mocha </span>
            <span>& Chai</span>
          </div>
        </a>
      </div>
    </nav>
    <div class="login" id="login">
      <form method="POST" action="/login">
        <!-- Email input -->
        <div class="form-outline mb-4">
          <input type="username" name="username" class="form-control" />
          <label> Username</label>
        </div>

        <!-- Password input -->
        <div class="form-outline mb-4">
          <input type="password" name="password" class="form-control" />
          <label>Password</label>
        </div>

        <!-- Submit button -->
        <button
          type="submit"
          id="submitbutton"
          class="btn btn-primary btn-block"
        >
          Sign in
        </button>
      </form>
    </div>
  </body>
</html>
