$primaryGreen: #24463e;
$primaryBlack: #222222;
$navWhite: #f7f7f7;
$backgroundWhite: #ffffff;
$navLinkBrown: #666058;
$primaryGold: #ba9867;

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $navWhite;
  height: 95px;
  font-size: 15px;
}

.footer-img {
  width: 100%;
}
