// Global layout

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Outfit:wght@100;200;300;400;500;600;700&display=swap");

$primaryGreen: #24463e;
$primaryBlack: #222222;
$navWhite: #f7f7f7;
$backgroundWhite: #ffffff;
$navLinkBrown: #666058;
$gold: #ba9867;

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  font-family: "Outfit";
  font-weight: 400;
  background-color: #ffffff;
  margin: 0;
}

img {
  width: 100%;
}

.logo {
  width: 2.5rem;
  align-self: center;
  margin-right: 5px;
}

.title {
  display: flex;
  flex-direction: column;
}

.content-left {
  display: flex;
}

.title span {
  line-height: 18px;
  align-self: center;
  color: #a57f4c;
}

// Video Full Cover Background
.fullscreen {
  position: relative;
  &-video {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-bottom: -6px;
    margin-top: 84px;
  }

  // &::before {
  //   content: "";
  //   background: rgba(black, 0.1);
  //   position: absolute;
  //   z-index: 1;
  //   top: 0;
  //   bottom: 0;
  //   left: 0;
  //   right: 0;
  // }
}

#overlay {
  position: absolute; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  display: flex;
  align-items: center;
  justify-content: center;
  // margin-top: 84px;
  // height: 218px;
}

.overlay-title {
  display: flex;
  flex-direction: column;
}
.overlay-title .title {
  display: flex;
  flex-direction: row;
}

.overlay-title .title span {
  color: #f7f7f7;
  font-size: 20px;
  font-weight: 100;
}

#about-us-container {
  display: flex;
  flex-direction: column;
}

.about-us-text {
  margin: 30px;
}
.about-us-text img {
  // width: 100%;
  margin-top: 11px;
  width: 100vw;
  position: relative;
  left: calc(-50vw + 50%);
}

.about-us-text h4 {
  letter-spacing: 1.5px;
  margin-bottom: 10px;
  color: $primaryBlack;
}

.about-us-text h6 {
  margin-bottom: 13px;
  color: $primaryGreen;
}

.about-us-text p {
  font-weight: 300;
}

#contact-us-container {
  display: flex;
  flex-direction: column;
}
.contact-us-text h4,
h5 {
  letter-spacing: 1.5px;
  color: $primaryGreen;
}

.contact-us-text {
  margin: 40px 30px;
}

.contact-us-text img {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 40px;
}

.contact-us-text {
  color: $primaryBlack;
  font-weight: 300;
}

.map {
  padding: 0px 30px 40px 30px;
  min-width: 750px;
}

a:hover {
  color: $gold !important;
  text-decoration: none;
}

html {
  scroll-padding-top: 108px; /* height of sticky header */
}

@media only screen and (min-width: 750px) {
  body {
    font-size: 20px;
  }
  .logo {
    width: 3rem;
    margin-right: 8px;
  }
  .content-left span {
    font-size: 20px;
    line-height: 22px;
    margin-top: 1px;
  }

  .btn-dark {
    width: 170px;
    height: 60px;
    font-size: 20px;
  }
}

@media only screen and (min-width: 1024px) {
  #about-us-container {
    flex-direction: row;
    justify-content: space-between;
    padding: 150px 150px 150px 130px;
  }
  #contact-us-container {
    flex-direction: row;
    justify-content: space-between;
    margin: 100px;
  }

  #about-us-container img {
    width: 50%;
    min-width: 50%;
  }

  #contact-us-container img {
    width: 40%;
  }

  .bottom {
    display: flex;
    flex-direction: column-reverse;
  }

  h4 {
    font-size: 45px;
    font-weight: 700;
  }

  h6 {
    font-size: 30px;
  }

  p {
    font-size: 23px;
    line-height: 60px;
  }

  .about-us-text {
    margin-right: 140px;
  }

  .contact-us-text div {
    margin-top: 45px;
  }

  h5 {
    font-size: 27px;
  }

  .overlay-title .title span {
    font-size: 65px;
    font-weight: 200;
  }

  .overlay-title .logo {
    width: 14rem;
    margin-bottom: 40px;
  }
}
