$primaryGreen: #24463e;
$primaryBlack: #222222;
$navWhite: #f7f7f7;
$backgroundWhite: #ffffff;
$navLinkBrown: #666058;
$gold: #ba9867;

body {
  padding-top: 40px;
}

.quantity {
  padding: 5px;
  width: 50px;
}

#customer-info {
  display: none;
}

.main-content {
  display: flex;
  margin: 50px;
}

.products-container {
  width: 65%;
}

.single-product {
  width: 100%;
}

.product-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-basis: 20%;
}

.Total_Summary-container {
  display: flex;
  justify-content: space-around;
}

.total {
  align-self: center;
}

.Order_button {
  background-color: $primaryGreen;
}

#remove-btn {
  background-color: maroon;
}

.add-to-cart {
  background-color: $primaryGreen;
  width: 100px;
  font-size: 14px;
  height: 50px;
  margin-bottom: 10px;
}

.card-text {
  font-size: 15px;
  line-height: 31px;
  margin: 0;
}

#priceItemText {
  font-size: 40px;
}

.cart-title {
  font-size: 25px;
}

p {
  font-size: 20px;
}

.product-image-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-image {
  // border-radius: 15px;
  // width: 100%;
  // max-width: 225px;
}

.flex-row {
  padding: 30px;
}

.card-body {
  padding: 0;
  width: 100%;
  margin: 0px 30px 0px 30px;
}

.price-text {
  margin: 0;
  font-weight: 500;
}

.single-product-details {
  display: flex;
  flex-direction: row;
  // background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  flex-basis: 60%;
  padding: 30px;
}

h5 {
  font-size: 22px;
}

p {
  line-height: inherit;
}

.add-to-cart-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
