$primaryGreen: #24463e;

#Header-Photo-MenuPage {
  max-width: 100%;
  height: 800px;
}

body {
  padding-top: 40px;
}

.quantity {
  padding: 5px;
  width: 50px;
  border: 1px solid #555;
}

#customer-info {
  display: none;
}

.main-content {
  display: flex;
}

.products-container {
  width: 65%;
}

.single-product {
  width: 100%;
}

.product-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Total_Summary-container {
  display: flex;
  justify-content: space-around;
}

.total {
  align-self: center;
}

.Order_button {
  background-color: $primaryGreen;
}

#remove-btn {
  background-color: maroon;
}
