.main-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  border: solid black;
  padding-bottom: 20px;
}
.OrderSummary {
  padding-top: 50px;
  padding-left: 50px;
}

.header-image {
  padding-top: 86px;
  width: 100%;
}

.CustomerSummary {
  padding-top: 50px;
  padding-left: 50px;
}

.Actions {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

.Accept {
  padding-left: 100px;
  padding-right: 100px;
  font-family: Arial, Helvetica, sans-serif;
}

.Reject {
  padding-left: 100px;
  padding-right: 100px;
  font-family: Arial, Helvetica, sans-serif;
}

.NoOrders {
  display: flex;
  justify-content: center;
  color: #24463e;
}

.acceptbutton {
  background-color: #24463e;
  color: white;
  height: 50px;
  width: 150px;
  margin: 10px 10px 10px 10px;
  padding: 10px;
}

.rejectbutton {
  background-color: maroon;
  color: white;
  height: 50px;
  width: 150px;
  margin: 10px 10px 10px 10px;
  padding: 10px;
}

.EstimatedTime {
  height: 50px;
  width: 500px;
  margin: 10px 10px 10px 10px;
  padding-right: 50px;
}

footer {
  margin-top: 0;
}
